<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册新账户</title>
</head>
<body>
<form action="http://127.0.0.1:5000/user?action=register" method="post">
    <label for="username">用户名：</label><input type="text" name="username" id="username" placeholder="请输入用户名"><br>
    <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input type="password" name="password" id="password" placeholder="请输入密码"><br>
    <label for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label><input type="text" name="email" id="email" placeholder="请输入邮箱"><br>
    <label for="phone">手机号：</label><input type="text" name="phone" id="phone" placeholder="请输入手机号"><br>
    <button type="submit">注册</button>
</form>
</body>
</html>